html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/*scroll view*/
.scroll-view {
    position: relative;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.scroll-view > div{
    position: absolute;

    height: 100%;
    width: 100%;

    -webkit-transition: -webkit-transform 0ms;
    transition: -webkit-transform 0ms;
    -webkit-transform-origin: 0px 0px;
}

.scroll-view-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 20px;
    margin: 5px 0 5px 0;

    background-color: #17b7f9;
}

.item{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0 0 1px 0;

    padding: 10px;
    background-color: #17b7f9;
}

.list-view {
    position: relative;
    height: 100%;
    width: 100%;

    overflow: hidden;
}

.list-view > div{
    position: absolute;

    -webkit-transition: -webkit-transform 0ms;
    transition: -webkit-transform 0ms;
    -webkit-transform-origin: 0px 0px;
}
