<div class="monitor">
    <div class="block_wrap">
        <div class="strength block">
            <canvas></canvas>
            <div class="bg"></div>
            <div class="negative"></div>
            <div class="info">
                <div class="cycle_day">6</div>
                <div class="status">
                    <div class="cycle_trend ascending"></div>
                    <div class="cycle_period">23</div>
                </div>
            </div>
            <div class="icon strength"></div>
        </div>
        <div class="emo block">
            <canvas></canvas>
            <div class="bg"></div>
            <div class="negative"></div>
            <div class="info">
                <div class="cycle_day">6</div>
                <div class="status">
                    <div class="cycle_trend ascending"></div>
                    <div class="cycle_period">28</div>
                </div>
            </div>
            <div class="icon emo"></div>
        </div>

        <div class="brain block">
            <canvas></canvas>
            <div class="bg"></div>
            <div class="negative"></div>
            <div class="info">
                <div class="cycle_day">6</div>
                <div class="status">
                    <div class="cycle_trend descending"></div>
                    <div class="cycle_period">33</div>
                </div>
            </div>
            <div class="icon brain"></div>
        </div>
    </div>
</div>