<div class="profile">
    <div class="title">Chuck Norris</div>

    <div id="profile_page"></div>

    <div class="profile-menu-holder">
        <div class="profile-menu">
            <div class="item-wrapper" data-page="0">
                <div class="item"></div>
            </div>
            <div class="item-wrapper" data-page="1">
                <div class="item"></div>
            </div>
            <div class="item-wrapper" data-page="2">
                <div class="item"></div>
            </div>
            <div class="pointer">
                <div class="pointer-bg"></div>
            </div>
        </div>

    </div>
</div>