body {
    background: #504556;
    background: -webkit-linear-gradient(#2e4d6c, #423f52);
    background: -moz-linear-gradient(#2e4d6c, #423f52);
    background: -o-linear-gradient(#2e4d6c, #423f52);
    background: -ms-linear-gradient(#2e4d6c, #423f52);
    background: linear-gradient(#2e4d6c, #423f52);
    /*background-color: #303d4b;454054*/

}


.module_holder {
    position: relative;
}

.graph {
    margin-top: 40px;
    height: 200px;
}

.task_list.collapsed {
    display: none;
}

.task.even {
    background: rgba(221,84,75,0.1);
}

.task {
    overflow: hidden;
    height: 60px;
    background: rgba(0,0,0,0.1);
    margin: 2px 10px;
}

.task div {
    float: right;
    text-align: center;
    line-height: 60px;
    min-width: 50px;
    min-height: 60px;
    padding: 0 10px;
}

.task .text {
    float: left;
}

.task .hidden{
    display: none;
}

.task .type_1 {
    background: url('../img/strength.png') no-repeat center;
}
.task .type_2 {
    background: url('../img/heart.png') no-repeat center;
}
.task .type_3 {
    background: url('../img/brain.png') no-repeat center;
}

.main {
    height: 100%;
    position: relative;
}

.list {
    bottom: 0;
    overflow: auto;
    position: absolute;
    top: 200px;
    width: 100%;
}

canvas {
    /*height: 150px;*/
    opacity: 0.8;
    margin-top: 42px;
}

.graph_container {
    height: auto;
}

.days {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    /*width: 100%;*/
    margin: 0;
    color: #fff;
}
.days li {
    list-style: none;
    background-color: #273d55;
    position: relative;
    height: 178px;
    width: 127px;
    float: left;
    margin:0 4px;
}

.days li .bottomHalf {
    background-color: #d8524a;
    opacity: 0.2;
    width: 100%;
    height: 50%;
}

.days li .topHalf {
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    height: 50%;
}

.days li .monthday {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.days li .weekday {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#days_pointer {
    position: absolute;
    height: 178px;
    top: 0;
    left: 4px;
    background-color: #000;
    opacity: 0.25;
    width: 127px;
}

.animationWrap {
    height: 178px;
    position: absolute;
}

.animated {
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
}

.group {
    color: #ffffff;
}

.group .groupTitle {
    height: 50px;
    font:  40pt sans-serif;
    text-transform:uppercase;
    padding-right: 15px;
    text-align: right;
}

.group .groupTitle .count {
    display: inline-block;
    padding-right: 16px;
    width: 100px;
}

.positionRelative {
    position: relative !important;
}
