div {
    padding: 5px;
    border: 1px solid graytext;
}

.module_holder {
    position: relative;
}

.graph {
    height: 200px;
}

.task {
    overflow: hidden;
}

.task div {
    float: left;
}

.main {
    height: 100%;
}

.list {
    height: 100%;
}

canvas {
    margin: 5px;
    border: 1px solid crimson;
}

.graph_container {
    height: 200px;
}