<div class="bio-checker">
    <div class="bio-header">
        <div class="bio-icons">
            <div class="pointer"></div>
            <div class="strength" data-bio="0"></div>
            <div class="emo" data-bio="1"></div>
            <div class="brain" data-bio="2"></div>
        </div>
    </div>
    <div class="bio_local_edges">
        <div class="left-arrow"></div>
        <div class="right-arrow"></div>
        <div class="edge-days-holder">
            <div class="edge-days">
                <div class="lucky"></div>
                <div class="mid"></div>
                <div class="critical"></div>
            </div>
        </div>
        <div class="day-template">
            <div class="monthday"></div>
            <div class="month"></div>
            <div class="weekday"></div>
        </div>
    </div>
</div>