<div class="monitor">
    <div class="block_wrap">
        <div class="strength block">
            <div class="info">
                <div class="cycle_day"></div>
                <span class="cycle_period"></span>
                <span class="cycle_trend"></span>
            </div>
            <div class="icon strength"></div>
        </div>
        <div class="emo block">
            <div class="info">
                <div class="cycle_day"></div>
                <span class="cycle_period"></span>
                <span class="cycle_trend"></span>
            </div>
            <div class="icon emo"></div>
        </div>
        <div class="brain block">
            <div class="info">
                <div class="cycle_day"></div>
                <span class="cycle_period"></span>
                <span class="cycle_trend"></span>
            </div>
            <div class="icon brain"></div>
        </div>
    </div>
</div>